@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #392d45;
  color: rgba(0, 0, 0, 0.8);
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  weight: 100vw;
}

form {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}

.left-container {
  background: #63548b;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
}
.left-container h1 {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  font-size: 24px;
}
.left-container h1 i {
  background: #9e9e9e;
  border-radius: 50%;
  color: #807182;
  font-size: 24px;
  margin-right: 5px;
  padding: 10px;
  transform: rotate(-45deg);
}
.left-container .puppy {
  bottom: -5px;
  position: absolute;
  text-align: center;
  height: 279px;
}
.left-container .puppy:before {
  background: #807182;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.left-container img {
  filter: sepia(100%);
  width: 70%;
}

.right-container {
  background: #4b4c64;
  display: grid;
  grid-template-areas: "." ".";
  width: 500px;
}
.right-container h1:nth-of-type(1) {
  color: rgba(255, 255, 255, 0.8);
  font-size: 28px;
  font-weight: 600;
}
.right-container .set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.right-container input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}
.right-container label {
  color: rgba(255, 255, 255, 0.8);
}

.right-container input {
  color: black;
}
.right-container header {
  padding: 40px;
}
.right-container label, .right-container input, .right-container .foto {
  width: 176px;
}
.right-container .foto {
  align-items: center;
  grid-template-areas: ". .";
  cursor: pointer;

}
.right-container .foto button {
  border: none;
  border-radius: 50%;
  height: 38px;
  margin-right: 10px;
  outline: none;
  width: 38px;
  top: 19px;
  cursor: pointer;
  position: relative;
}

.right-container .foto label {
  top: 19px;
  position: relative;
  cursor: pointer;

}

.right-container .foto input {
  opacity: 0;
  cursor: pointer;
  position: relative;
  top: -18px;
}

.right-container .foto button i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}
.right-container .pets-weight .radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-container footer {
  align-items: center;
  background: #fff;
  display: grid;
  padding: 5px 40px;
}
.right-container footer button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 38px;
  line-height: 38px;
  width: 100px;
  border-radius: 19px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.right-container footer #back {
  background: #fff;
  transition: 0.2s all ease-in-out;
}
.right-container footer #back:hover {
  background: #171A2B;
  color: white;
}
.right-container footer #next {
  background: #807182;
  border: 1px solid transparent;
  color: #fff;
}
.right-container footer #next:hover {
  background: #171A2B;
}

.name label, .email label, .ultah label, .jenis-kelamin label, .tanggal-lahir label, .kelas label {
  display: block;
  margin-bottom: 5px;
}

.radio-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  width: 100%;
}
.kelasss {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  width: 100%;
}

.radio-container label {
  cursor: pointer;
}

.kelasss label {
  cursor: pointer;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 80px;
  color: black;
}
.kelasss label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 99px;
  color: black;
}


.radio-container input[type=radio] {
  display: none;
  cursor: pointer;
}
.kelasss input[type=radio] {
  display: none;
}

.radio-container input[type=radio]:checked + label {
  background: #624577;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
}
.kelasss input[type=radio]:checked + label {
  background: #624577;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: white;

}

  font {
    position: absolute;
    top: 37px;
    color: rgb(215 30 129);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.set a {
  color: black;
  padding: 11px 32px;
  text-decoration: none;
  transition: all 0.2s ease-in-out
}

.set a:hover{
  color: white;
}